h1{
    color: white;
    
}

h2{
    color: antiquewhite;
}

body{
    background: center url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/16/18/orion-night-sky-constellation.jpg);
}

ol{
    color: slategray
}

ul{
    color: slategray
}